* {
    margin: 0;
    padding: 0;
}


/* banner start */
.banner {
    background-image: url(./Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    width: 90%;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;

}

.banner-title h3 {
    color: #FFF;
    font-family: Mulish;
    font-size: 4rem;
    font-weight: 800;
    padding-top: 130px;
}

.banner-title p {
    width: 676px;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 20px auto;
}

.banner-option {
    opacity: .7;
    background-color: #FFF;
    width: 815px;
    height: 52px;
    margin: 40px auto;
    border-radius: 10px;
    padding: 16px 0;
}

.banner-sup-option {
    position: relative;
    bottom: 105px;
}

#option {
    opacity: 1;
    width: 174px;
    height: 45px;
    z-index: 1;
    font-family: Mulish;
    font-weight: 400;
    border-radius: 10px;
    margin: 0 10px;

    border: none;
}

.s {
    margin-right: 60px;
    font-size: 20px;
    color: #817e7e;
}

.r {
    margin-right: 45px;
    font-size: 24px;
    color: #817e7e;
}

.p {
    margin-right: 20px;
    font-size: 20px;
    color: #817e7e;
}

.btn {
    background-color: #FF5400;
    color: #FFF;
    font-size: 20px;

}

@media screen and (max-width:600px) {
    .banner {
        width: 90%;
        height: 583px;
        margin: auto;
    }

    .banner-title h3 {
        font-size: 2rem;
        font-weight: 800;
        padding-top: 100px;
    }

    .banner-title p {
        width: 90%;
    }

    #option {
        width: 80%;
        margin: 10px 10px;
    }

    .banner-option {
        width: 90%;
        height: 270px;
    }

    .banner-sup-option {
        position: relative;
        bottom: 320px;
    }
}

/* banner end */

/* Our-Popular start */
.Our-Popular{
    display: flex;
    width: 90%;
    margin:120px auto;
    gap: 80px;
}
.Our-Popular-text h3{
    color: #131318;
        font-size: 40px;
        font-weight: 800;
}
.Our-Popular-text p{
    color: rgba(19, 19, 24, 0.70);
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        padding: 30px 0;
}
.Our-Popular-text ul{
margin-left: 50px;
line-height: 26px;
}
.Our-Popular-text ul li{
color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
   margin: 10px 0;
}
.btn-1{
        border-radius: 10px;
      padding: 15px 30px;
        background-color: #FF5400;
       color: #FFF;
         font-size: 20px;
}
@media screen and (max-width:600px) {
.Our-Popular {
    display: grid;
       grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: 120px auto;
        gap: 80px;
    }
    .Our-Popular-image img{
        width: 100%;
        margin: auto;
    }
}
/* Our-Popular end */

   /* Destination start */
.Destination{
    width: 85%;
    margin:0 auto;
}
.Destination-point h3{
    color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 40px;
        font-weight: 800;
        text-align: center;
}
.Destination-point p{
    width: 643px;
    margin:20px auto;
    color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
}
.Destination-image-up{
display: flex;
text-align: center;
gap: 20px;
margin: 15px auto;
}
.Destination-image-1{
width: 100%;


}
.center-text{
    position: relative;
        bottom: 180px;
        font-size: 40px;
        color: #fff;
}
@media screen and (max-width:600px){
    .Destination {
            width: 90%;
            margin: 0 auto;
        }
.Destination-point p {
    width: 80%;
    margin: 20px auto;
}
.Destination-image-up{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
    }
        .Destination-image-1 img{
            width: 100%;
            height: 400px;
        }
     .center-text {
         position: relative;
          bottom: 180px;
          font-size: 40px;
          }
    
}

.Destination-image-med{
display: flex;
    text-align: center;
    gap: 20px;
    margin: 15px auto;
    /* position: relative;
    bottom: 35px; */
}


@media screen and (max-width:600px){
    .Destination-image-med{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    
    }
.image-med img{
    width: 100%;
    height: 400px;
}
}
.Destination-image-down{
    display: flex;
        text-align: center;
        gap: 20px;
        margin: 15px auto;
        /* position: relative;
        bottom: 70px; */
}
@media screen and (max-width:600px) {
    .Destination-image-down{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .image-down img {
        width: 100%;
        height: 400px;
    }
}
  /* Destination end */

  /* about start */
  .about{
width: 90%;
margin: 100px auto;
  }
  .about h3{
    color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 40px;
        font-weight: 800;
  }
.about-besk{
    width: 60%;
    margin:20px auto;
    color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
  }
  .about-point{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .about-point-1{
    border-radius: 16px;
        border: 1px solid rgba(251, 181, 99, 0.20);
        background: rgba(251, 181, 99, 0.05);
        padding: 40px;
       
  }
  .icon{
font-size: 25px;
  }
  .about-point-1 h4{
    color: #131318;
        font-family: Mulish;
        font-size: 24px;
        font-weight: 800;
        padding: 20px 0;
  }
  .about-point-1 p{
    color: #5A5A5D;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
  }
  .about-down{
    width: 600px;
    margin: 20px auto;
  } 
  @media screen and (max-width:600px){
    .about-point {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
   .about-besk {
        width: 90%;
   }
        .about-down {
            width: 100%;
            margin: 20px auto;
        }
  }
  /* about end */

footer{
    background: rgba(19, 19, 24, 0.05);
}
footer img{
width: 40px;
 height: 46.673px;
}

footer .f-i{
    text-align: center;

   padding-top: 70px;
    color: #131318;
        font-family: Mulish;
            font-size: 32px;
            font-weight: 800;
}
footer .hero{
    position: relative;
    bottom: 10px;
    left: 15px;
}
footer .Travel {
color: #FF5400;
}
footer p{
    width: 60%;
    margin: auto;
    color: #5A5A5D;
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
}
.footer-icons{
text-align: center;
    font-size: 30px;
    color: #000;
    padding: 20px;
}
.fa-brands{
    padding: 10px;
}
footer hr{
    width: 70%;
    margin: auto;
    background: rgba(19, 19, 24, 0.10);
}
footer h4{
    color: #131318;
        font-family: Inter;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        padding: 50px 0;
}